{% load static %}

<h4>
  <div class="row">
    <div class="col-12 col-sm-6">
      Хотите такой же сайт ? вам сюда --->
      <a  href="https://lukinterlab.ru/">
            LukInterLab.ru 2024
          </a>
    </div>
    <div class="col-sm-6 d-none d-sm-block">
      <ul class="breadcrumb pt-0 pe-0 mb-0 float-end">
        <li class="breadcrumb-item mb-0 text-medium"><a href='{% url "Home:home" %}' class="btn-link">Главная</a></li>
        <li class="breadcrumb-item mb-0 text-medium"><a href='{% url "blog:post_list" %}' class="btn-link">Журнал</a></li>
        <li class="breadcrumb-item mb-0 text-medium"><a href="#" class="btn-link">Магазин</a></li>
        <li class="breadcrumb-item mb-0 text-medium"><a href="#" class="btn-link">В начало</a></li>
      </ul>
    </div>
  </div>
</h4>
