{% load static %}
{% block titul %}

    <div class="page-title-container">
      <a href='{% url "Home:home" %}'>
        <h1 class="mb-0 pb-0 display-4" id="title">{{ page_title }}</h1>
      </a>
      <div class="page-title-container"></div>
      <div class="page-title-container">
        <nav class="breadcrumb-container d-inline-block" aria-label="breadcrumb">
          <ul class="breadcrumb pt-0">
            <li class="breadcrumb-item"><a href='{% url "Home:home" %}'><<ГЛАВНАЯ>></a></li>
            <li class="breadcrumb-item"><a href='{% url "blog:post_list" %}'><<ЖУРНАЛ>></a></li>
            
            <li class="breadcrumb-item"><a href="#">{{ page_title }}</a></li>
          </ul>
        </nav>
      </div>
    </div>
 
{% endblock titul %}

