{% load static %}
<!-- ТОП СТАТЕЙ ... -->
<div class="col-12">
    
    <div class="mb-5">
      <div class="row mb-n2">
      {% for post in post_list reversed %}
        <div class="col-6 col-md-6 col-xl-6 mb-2">
          <div class="card sh-11 sh-sm-14">
            <div class="row g-0 h-100">
              <div class="col-auto">
                {% if post.kartinka %}
                <img src="{{ post.kartinka.url }}" alt="user" class="card-img card-img-horizontal sw-10 sw-sm-14" />
                {% endif %}
              </div>
              <div class="col position-static">
                <div class="card-body d-flex flex-column pt-0 pb-0 h-100 justify-content-center">
                  <h4 class="small-title">  
                  <div class="d-flex flex-column">
                    <a href="{{ post.get_absolute_url }}" class="stretched-link body-link">
                      <div class="clamp-line" data-line="3">{{ post.title }}</div>
                    </a>
                  </div>
                  </h4>
                </div>
              </div>
            </div>
          </div>
        </div>
      {% endfor %}
      </div>
    </div>
  </div>
  <!-- ТОП СТАТЕЙ ... -->