{% extends 'bases.html' %} 
{% load static %}

{% block content %}
<!-- Small Gutters Start -->
<section class="scroll-section" id="smallGutters">
    <h2 class="small-title">Small Gutters</h2>
    <div class="row gx-2">
      <div class="col-12 col-xl-6 p-0 mb-5">
        <div class="glide" id="glideSmall">
          <div class="glide__track" data-glide-el="track">
            <div class="glide__slides">
              <div class="glide__slide">
                <div class="card mb-5 sh-25">
                  <div class="card-body text-center align-items-center d-flex flex-column justify-content-between">
                    <div class="d-flex sw-6 sh-6 bg-gradient-primary mb-3 align-items-center justify-content-center rounded-xl">
                      <i data-cs-icon="pepper" class="text-white"></i>
                    </div>
                    <p class="card-text mb-0 d-flex">Pending Orders</p>
                    <p class="h4 text-center mb-0 d-flex text-primary">25</p>
                  </div>
                </div>
              </div>
              <div class="glide__slide">
                <div class="card mb-5 sh-25">
                  <div class="card-body text-center align-items-center d-flex flex-column justify-content-between">
                    <div class="d-flex sw-6 sh-6 bg-gradient-primary mb-3 align-items-center justify-content-center rounded-xl">
                      <i data-cs-icon="mushrooms" class="text-white"></i>
                    </div>
                    <p class="card-text mb-0 d-flex">Pending Orders</p>
                    <p class="h4 text-center mb-0 d-flex text-primary">25</p>
                  </div>
                </div>
              </div>
              <div class="glide__slide">
                <div class="card mb-5 sh-25">
                  <div class="card-body text-center align-items-center d-flex flex-column justify-content-between">
                    <div class="d-flex sw-6 sh-6 bg-gradient-primary mb-3 align-items-center justify-content-center rounded-xl">
                      <i data-cs-icon="pear" class="text-white"></i>
                    </div>
                    <p class="card-text mb-0 d-flex">Pending Orders</p>
                    <p class="h4 text-center mb-0 d-flex text-primary">25</p>
                  </div>
                </div>
              </div>
              <div class="glide__slide">
                <div class="card mb-5 sh-25">
                  <div class="card-body text-center align-items-center d-flex flex-column justify-content-between">
                    <div class="d-flex sw-6 sh-6 bg-gradient-primary mb-3 align-items-center justify-content-center rounded-xl">
                      <i data-cs-icon="loaf" class="text-white"></i>
                    </div>
                    <p class="card-text mb-0 d-flex">Pending Orders</p>
                    <p class="h4 text-center mb-0 d-flex text-primary">25</p>
                  </div>
                </div>
              </div>
              <div class="glide__slide">
                <div class="card mb-5 sh-25">
                  <div class="card-body text-center align-items-center d-flex flex-column justify-content-between">
                    <div class="d-flex sw-6 sh-6 bg-gradient-primary mb-3 align-items-center justify-content-center rounded-xl">
                      <i data-cs-icon="cupcake" class="text-white"></i>
                    </div>
                    <p class="card-text mb-0 d-flex">Pending Orders</p>
                    <p class="h4 text-center mb-0 d-flex text-primary">25</p>
                  </div>
                </div>
              </div>
              <div class="glide__slide">
                <div class="card mb-5 sh-25">
                  <div class="card-body text-center align-items-center d-flex flex-column justify-content-between">
                    <div class="d-flex sw-6 sh-6 bg-gradient-primary mb-3 align-items-center justify-content-center rounded-xl">
                      <i data-cs-icon="radish" class="text-white"></i>
                    </div>
                    <p class="card-text mb-0 d-flex">Pending Orders</p>
                    <p class="h4 text-center mb-0 d-flex text-primary">25</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
</section>
<!-- Small Gutters End -->

{% endblock %}