{% load static %}
<!-- Подписка Start -->
<div class="col-12">
    <div class="card mb-5">
      <div class="card-body row g-0">
        <div class="col-12">
          <div class="cta-3">Желаете первым узнавать последние новости ?</div>
          <div class="mb-3 cta-3 text-primary">Присоединяйтесь к нашему списку рассылки по электронной почте!</div>
          <div class="d-flex flex-column justify-content-start">
            <div class="text-muted mb-2">
              <input type="email" class="form-control" placeholder="E-mail" />
            </div>
          </div>
          <a href="#" class="btn btn-icon btn-icon-start btn-primary">
            <i data-cs-icon="chevron-right"></i>
            <span>Подписаться</span>
          </a>
        </div>
      </div>
    </div>
  </div>
  <!-- Подписка End -->