{% load static %}
<section class="scroll-section" id="stacked">
   
    <p class="h4 text-center mb-0 d-flex text-primary">{{ title_kart }}</p>
    <div class="card mb-5">
      <div class="card-body">
        <div>
          {% for post in posts %}
              <div class="sw-15 sh-15 mb-1 d-inline-block ms-n4">
                <a href="{{ post.get_absolute_url }}">
                    <img src="{{ post.kartinka.url }}" class="img-fluid sw-15 sh-15 rounded-xl border border-2 border-foreground" alt="thumb" />
                </a>
              </div>
          {% endfor %}
        </div>
      </div>
    </div>
</section>
<!-- КРУЖКИ -->